@keyframes Expand{
    from{transform:scale(0.001)}
    to{transform:scale(1)}
}
@media only screen and (orientation:portrait){
    #SocialSection{
        position: relative !important;
        top: 15vh !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #github{
        margin: 0 !important;
    }
    .SocialDivs{
        display: inline-block !important;
        width: min-content !important;
    }
    #Gmail button{
        margin: 0 !important;
        margin-left: 5px !important;
        position: relative !important;
        top: 5px !important;
    }
    #Gmail{
        display: flex !important;
    }
    #Gmail a{
        margin-right: 10px !important;
    }
    .socialDivDivs{
        display: flex !important;
        margin-left: auto !important;
        margin-right: auto !important;
        width: min-content!important;
    }
    ol{
        list-style: none;
        padding: 0;
    }
    #biography{
        width: 75vw !important;
    }
    main{
        margin: 0 auto !important;
    }
    ul{
        padding: 0;
    }
    #AboutMe > ul > li{
        padding: 0;
        width: 50vw !important;
    }
    .Right > ul{
        padding-left: 10px;
    }
}






::-webkit-scrollbar{
    width:20px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color:darkgray;
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 20px;
    background-color:gray;
}
::-webkit-scrollbar-track{
    background-color: black;
}






html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    text-align: center;
    animation:Expand 0.5s linear;
    font-family: 'Source Sans Pro', sans-serif;
    color:white;
    position:relative;
    margin: 0;
}
li{
    padding:0;
    margin:0;
    width: max-content;
}
section{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
header{
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
#biography{
    width: 52vw;
}
li{
    text-align: left;

}






#Name{
    width: 50vw;
    top:7vh;
    position: relative;
}
#content{
    top:5vh;
    position: relative; 
    max-width: 78vw;
    margin:auto;
}
#Intro{
    margin: 0;
}
.personalityDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    vertical-align: top;
}
#PersonalityDivDiv{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.Projects{
    display: block;
}
.Left{
    margin-right: 10px;
    margin-left: auto;
}
.Right{
    margin-right: auto;
    margin-left: 10px;
}
.Personalities{
    width: 25vw;
    margin: 0 auto;
}









#Testimonial{
    position: relative;
}









#SocialSection{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
img{
    height: 5vh;
}
.Socials{
    transition: 0.5s ease;
    margin-left: auto;
    margin-right: auto;
}
#SocialDiv{
    display: flex;
}
button{
    margin: auto 0;
    padding: 5px;
}
button:hover{
    cursor: pointer;
}
img.Socials:hover{
    transform: scale(1.5)
}