@keyframes DropDown{
    from{opacity: 0;transform: translateY(-20px) rotateY(180deg);}
    to{opacity:1 ;transform: translateY(0px) rotateY(0deg);}
}

html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(2,2,133,1) 0%, rgba(0,212,255,1) 100%);
    object-fit: cover;
    text-align: center;
}
div#navbar{
    width: 100vw;
    left: 0;
    position: relative;
    height: min-content;
    background-color: white;
}
a.NavbarContent{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: blue;
    text-align: unset;
    transition: 1s;
}
a.NavbarContent:hover{
    text-decoration: underline;
}
h2#Name{
    left: 25%;
    width: 50%;
    top:10vh;
    position: absolute;
    color: white;
    font-weight: bold;
}
div#ThreeLines{
    width:min-content;
    float: right;
    margin-right: 20px;
}
#one{
    width: 30px;
}
#two{
    width: 20px;
}
#three{
    width: 25px;
}
div.threeLines{
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: blue;
    height: 5px;
    border-radius: 20px;
    transition: 1s;
}
#ThreeLines:hover div{
    width:30px;
}
#ThreeLines:hover .DropDown{
    display:inline-block;
}
.DropDown{
    width: min-content;
    color: blue;
    display: none;
}
.DropDown:hover{
    cursor: pointer;
}
div#DropDownMenu{
    padding-top: 5px;
    margin-left: auto;
    width: min-content;
    background-color: white;
}
div#Test{
    background-color: black;
    color: white;
}
div#Tests{
    background-color: black;
    height: 1000px;
}