@media only screen and (orientation:portrait){
    #navbar{
        width: 100vw !important;
        height: 3rem !important;
        font-size: 9px !important;
    }
    .link-text{
        visibility: visible !important;
        width: min-content !important;
        margin: 0 auto !important;
    }
    strong{
        margin: 0 auto !important;
    }
    .navbar-nav{
        flex-direction: row !important;
        height: 100% !important;
        width: 100vw !important;
    }
    .nav-item{
        height: 100% !important;
    }
    .nav-link{
        align-items: center;
        height: max-content;
        color: white;
        text-decoration: none;
    }
    header{
        margin-top: 30px !important;
    }
}








a{
    text-decoration: none;
    font-family: 'Karla', sans-serif !important;
}
a:hover{
    text-decoration: underline;
}
main{
    width: min-content !important;
}










#navbar{
    top: 0;
    left: 0;
    width: 7rem;
    height: 100vh;
    position: fixed;
    background-color: #2A2A72;
    transition: 0.5s ease;
    z-index: 1;
}

.nav-link:hover{
    text-decoration: none;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    transition: 0.5s ease;
}

.nav-item{
    width: 100%;
    transition: 0.5s ease;
    text-align: center;
}

#Last{
    position: relative;
    margin-top: auto;
}

#Projects , #Arts{
    width: max-content;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 3rem;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-item:hover{
    background-color: #000000;
    text-align: center;
}

.link-text{
    visibility: hidden;
    width: max-content;
    margin: 0 auto;
}

#navbar:hover{
    width: 8rem;
}

.nav-item:hover{
    cursor: pointer;
}

#navbar:hover .link-text{
    visibility: visible;
}

.logo{
    display: none;
}

strong{
    transition: 0.5s ease;
    margin-left: 1rem;
    margin-right: 1rem;
}

#navbar:hover strong{
    transform: rotate(540deg);
}