@keyframes DropDown{
    0%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
@keyframes MoveLeft{
    from{transform: translateX(1000px);}
    to{transform: translateX(0px);}
}
@keyframes RiseUp{
    0%{transform: translateY(0px);}
    100%{transform: translateY(-100px);}
}
@keyframes MoveRight{
    from{transform: translateX(0px);}
    to{transform: translateX(1000px);}
}








a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: underline;
}










#navbar{
    width: 100vw;
    left: 0;
    top:0;
    position: fixed;
    height: min-content;
    z-index: 10000000;
    margin: 0;
    background:linear-gradient(to right, #009FFD,#2A2A72);
    border-bottom: #27284D solid 2px;
}
a.NavbarContent{
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    text-align: unset;
    transition: 1s;
}
div#ThreeLines{
    float: right;
    margin-right: 20px;
}
#one{
    width: 30px;
}
#two{
    width: 20px;
}
#three{
    width: 25px;
}
div.threeLines{
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:#1565B8;
    border-radius: 20px;
    transition: 1s;
    height: 5px;
}
#ThreeLines:hover div{
    width:30px;
}
#ThreeLines:hover{
    cursor:pointer;
}
.OtherDropDown{
    display: none;
    text-decoration: none;
    transition: 0.5s;
    float: left;
    width:max-content;  
    padding:1vh 1vw;
    background-color:#1c5a9c;   
    color:#009FFD;
}
.OtherDropDown:hover{
    background-color:#0e2b4b;   
    color:#007bff;
}
div#OtherDropDownMenu{
    animation-fill-mode: forwards;
}







.Dropping{
    animation:DropDown 0.25s linear;
}
.Rising{
    animation:RiseUp 0.25s linear;
}
.MovingLeft{
    animation:MoveLeft 0.25s linear;
}
.MovingRight{
    animation:MoveRight 0.25s linear;
}