@media only screen and (orientation:portrait){
    nav{
        font-size: 12px !important;
    }
    #OtherDropDownMenu a{
        padding-bottom: 10px !important;
    }
    #ThreeLines{
        margin-right: 0 !important;
    }   
}








a{
    text-decoration: none;
    font-family: 'Karla', sans-serif !important;
}
a:hover{
    text-decoration: underline;
}










#navbar{
    top: 0;
    left: 0;
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #2A2A72;
    transition: 0.5s ease;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    transition: 0.5s ease;
}

.nav-item{
    width: 100%;
    transition: 0.5s ease;
}

.nav-item:last-child{
    position: relative;
    margin-top: auto;
}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

.nav-item:hover{
    background-color: #000000;
    text-align: center;
}

.link-text{
    display: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

#navbar:hover{
    width: 8rem;
}

#navbar:hover .link-text{
    display: block;
}

strong{
    transition: 0.5s ease;
    margin-left: 1rem;
    margin-right: 1rem;
}

#navbar:hover strong{
    transform: rotate(360deg);
}











div#ThreeLines{
    float: right;
    margin-right: 30px;
}
#one{
    width: 30px;
}
#two{
    width: 20px;
}
#three{
    width: 25px;
}
div.threeLines{
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:#1565B8;
    border-radius: 20px;
    transition: 1s;
    height: 5px;
    z-index: 1000;
}
#ThreeLines:hover div{
    width:30px;
}
#ThreeLines:hover{
    cursor:pointer;
}