@media only screen and (max-width:500px){
    div.Meters{
        width:100/3vw;
    }
}








html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    animation:Expand 0.5s linear;
    color:white;
}
/* ::-webkit-meter-optimum-value{
    background-color:#0B82DB    
}
::-webkit-meter-bar{
    background-color:#2A2A72;
}
:-moz-meter-optimum-value{
    background-color:#0B82DB    
}
:-moz-meter-bar{
    background-color:#2A2A72;
} */










.DropDown{
    display: none;
    text-decoration: none;
    transition: 0.5s;
    padding:1vh 1vw;
    color:#009FFD;
}
.DropDown:hover{
    background-color:#009FFD;
    color:#1565B8;
}
div#DropDownMenu{
    animation-fill-mode: forwards;
    position: fixed;
    right:0;
    width: min-content;
    background-color: #1565B8;
}










.MeterDiv{
    position: relative;
    font-size:20px;
    margin:auto;
    top:10vh;
}
.SkillsDiv{
    display: inline-block;
    vertical-align: top;
}
.Meter{
    display: block;
    position: relative;
}
.Lang, .Percentage{
    display: block;
    position: relative;
    top: 10px;
}
progress[value] {
    -webkit-appearance: progress-bar;
    width:20vw;
    height:9vh;
    position: relative;
    top:25px;
}
progress::-webkit-progress-bar{
    background-color: #2A2A72;
    border-radius: 2px;
}
progress[value]::-webkit-progress-value {
    background-color: #2A2A72;
}
label{
    margin:25px;
}
.Meters{
    position: relative;
    width:min-content;
    margin:auto;
    top:10vh;
    font-size:20px;
}