html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    text-align: center;
    font-size:50px;
    font-family: 'MuseoModerno', cursive;
    animation:Expand 0.5s linear;
    color:white;
    position:relative;
}
meter{
    width:20vw;
    height:4vw;
    margin:auto;
}
.python,.HTML,.Js,.CSS{
    vertical-align: middle;
    display:inline-block;
}
.meter{
    display:block;
}