@keyframes Contract{
    from{transform: scale(1)}
    to{transform:scale(0.001)}
}

body{
    background: gray;
    object-fit: cover;
    overflow:hidden;
    text-align: center;
    text-align: center;
    width: 100vw;
    margin: 0;
    font-family: 'MuseoModerno', cursive;
}
a{
    text-decoration: none;
    color:white;
    position: absolute;
    top:45vh;
    width: 48%;
    left: 30vw;
    transition: 0.5s;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: black;
}