@keyframes Contract{
    from{transform: scale(1);}
    to{transform:scale(0.001);}
}
@keyframes Rainbow{
    0%{color:white;}
    16%{color:red;}
    32%{color:orange;}
    48%{color:yellow;}
    64%{color:green;}
    80%{color:blue;}
    96%{color:purple;}
    100%{color:white;}
}



@media only screen and (max-width:500px){
    a#Quote{
        width:75vw;
        left:12.5vw;
    }
}
body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    font-family: 'MuseoModerno', cursive;
    animation:Expand 0.5s linear;
    text-align:center;
    height:100vh;
    overflow:hidden;
    color:white;
}
#Quote{
    text-decoration: none;
    position:absolute;
    top:45vh;
    width:47vw;
    left:26.5vw;
    transition: 1s;
    color:white;
}
#Quote:hover{
    cursor: pointer;
    text-decoration: underline;
    animation:Rainbow 1s linear infinite;
}