@keyframes Contract{
    from{transform: scale(1)}
    to{transform:scale(0.001)}
}

body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
    animation:Expand 0.5s linear;
    color:white;
}
a{
    text-decoration: none;
    position: absolute;
    top:45vh;
    width: 48%;
    left: 30vw;
    transition: 1s;
    color:white;
}
a:hover{
    cursor: pointer;
    text-decoration: underline;
}