html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    animation:Expand 0.5s linear;
    color:white;
}
li{
    list-style: none;
}
main{
    position: relative;
    top:5vh;
    background-color: linear-gradient(to right, #009FFD,#2A2A72);
    width:min-content;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: auto;
}
img{
    margin-left: 1vw;
}







.DropDown{
    display: none;
    text-decoration: none;
    transition: 0.5s;
    padding:1vh 1vw;
    color:#009FFD;
}
.DropDown:hover{
    background-color:#009FFD;
    color:#1565B8;
}
div#DropDownMenu{
    animation-fill-mode: forwards;
    position: fixed;
    right:0;
    width: min-content;
    background-color: #1565B8;
}










.HorizontalCerts{
    padding:0;
    max-width:40vw;
}
.VerticalCerts{
    padding:0;
    height: 70vh;
}
#achievements{
    background-color: darkgray;
}
.Flex{
    display:flex;
    justify-content: center;
}