html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    text-align: center;
    animation:Expand 0.5s linear;
    color:white;
    top: 0;
    margin: auto;
}
li{
    list-style: none;
}
main{
    position: relative;
    top:5vh;
    background-color: linear-gradient(to right, #009FFD,#2A2A72);
    width:min-content;
    padding-left: 1vw;
    padding-right: 1vw;
    margin: auto;
}
img{
    margin-left: 1vw;
}






::-webkit-scrollbar{
    width:20px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color:darkgray;
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 20px;
    background-color:gray;
}
::-webkit-scrollbar-track{
    background-color: black;
}
.DropDown{
    display: none;
    text-decoration: none;
    transition: 0.5s;
    padding:1vh 1vw;
    color:#009FFD;
}
.DropDown:hover{
    background-color:#009FFD;
    color:#1565B8;
}
div#DropDownMenu{
    animation-fill-mode: forwards;
    position: fixed;
    right:0;
    width: min-content;
    background-color: #1565B8;
}










.VerticalCerts{
    padding:0;
    width: 40vw;
}
#achievements{
    background-color: darkgray;
}
.flex{
    display: flex;
    justify-content: center;
}
.Left{
    margin-right: 10px;
}
h4{
    width: 40vw;
}