@keyframes DropDown{
    0%{transform: translateY(-100px);}
    100%{transform: translateY(0px);}
}
@keyframes MoveLeft{
    from{transform: translateX(1000px);}
    to{transform: translateX(0px);}
}
@media only screen and (orientation:portrait){
    
}






::-webkit-scrollbar{
    width:20px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color:darkgray;
    transition: 0.5s;
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 20px;
    background-color:gray;
}
::-webkit-scrollbar-track{
    background-color: black;
}






html{
    scroll-behavior: smooth;
}
body{
    background:linear-gradient(to right, #009FFD,#2A2A72);
    object-fit: cover;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    animation:Expand 0.5s linear;
    color:white;
}
li{
    list-style: none;
}
main{
    position: relative;
    top:5vh;
    margin: auto;
}
img{
    margin-left: 1vw;
    transition:0.5s;
}






.Certs{
    padding:0;
    width: 30vw;
}
#achievements{
    background-color: darkgray;
}
.flex{
    display: flex;
    justify-content: center;
}
h4{
    width: 30vw;
}
.Left{
    margin-right: 10px;
}
.CCACert{
    transition: 0.5s;
}
.SizeUp{
    transform: scale(1.5);
}
#CCAPointsSection div{
    margin-bottom: 10px;
}






.DropDown{
    display: none;
    text-decoration: none;
    transition: 0.5s;
    padding:1vh 1vw;
    color:#009FFD;
}
.DropDown:hover{
    background-color:#009FFD;
    color:#1565B8;
}
div#DropDownMenu{
    animation-fill-mode: forwards;
    position: fixed;
    right:0;
    width: min-content;
    background-color: #1565B8;
}